{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в раздел "Об игре"!</h1>
<h2>Что же такое судоку?</h2>
<p>Головоломка с числами.<br>
    Иногда судоку называют магическим квадратом,
    что в общем-то неверно, так как судоку является латинским квадратом 9-го порядка.<br>
    Судоку активно публикуют газеты и журналы разных стран мира,
    сборники судоку издаются большими тиражами.<br>
    Решение судоку - популярный вид досуга.
</p>
<img src="./static/img/sudoku_image.jpg" width="250" height="250">
<h3>Правила игры:</h3>
<p>Игровое поле представляет собой квадрат размером 9×9,
    разделённый на меньшие квадраты со стороной в 3 клетки.<br>
    Таким образом, всё игровое поле состоит из 81 клетки.<br>
    В них уже в начале игры стоят некоторые числа (от 1 до 9), называемые подсказками.<br>
    От игрока требуется заполнить свободные клетки цифрами от 1 до 9 так, чтобы в каждой строке,
    в каждом столбце и в каждом малом квадрате 3×3 каждая цифра встречалась бы только один раз.
</p>
<h4>Интересные факты о судоку:</h4>
<p>1. Судоку изначально не японская игра, а американская игра.<br>
    Современный судоку был изобретен в Америке под названием «Number Place» (1979) и
    позже популяризирован японским издателем Nikoli как «Sudoku».<br>
    Говард Гарнс, изобретатель «Number Place», умер в 1989 году,
    прежде чем игра приобрела мировую популярность.<br>
    2. Первый чемпионат мира по судоку состоялся в Италии в 2006 году.<br>
    Затем в 2007 году в Праге, Чешская Республика и совсем недавно в 2008 году в Гоа, Индия.<br>
    В 2009 году он состоится в Словакии.<br>
    3.Некоторые люди называют это газетными заставками,
    потому что это увеличивает продажи и поддерживает читателей активными.<br>
    Газеты всего мира сразу приняли это, потому что людям нравится решать судоку каждый день,
    как кроссворды.
</p>
<a href="/" class="btn btn-primary">Вернуться назад</a>
<p>     </p>
{% endblock %}