{% extends "base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
crossorigin="anonymous">
<h1>Добро пожаловать в раздел "Об игре"!</h1>
<h2>Что же такое судоку?</h2>
<p>Головоломка с числами.<br>
    Иногда судоку называют магическим квадратом,
    что в общем-то неверно, так как судоку является латинским квадратом 9-го порядка.<br>
    Судоку активно публикуют газеты и журналы разных стран мира,
    сборники судоку издаются большими тиражами.<br>
    Решение судоку - популярный вид досуга.
</p>
<img src="./static/img/sudoku_image.jpg" width="250" height="250">
<h3>Правила игры:</h3>
<p>Игровое поле представляет собой квадрат размером 9×9,
    разделённый на меньшие квадраты со стороной в 3 клетки.<br>
    Таким образом, всё игровое поле состоит из 81 клетки.<br>
    В них уже в начале игры стоят некоторые числа (от 1 до 9), называемые подсказками.<br>
    От игрока требуется заполнить свободные клетки цифрами от 1 до 9 так, чтобы в каждой строке,
    в каждом столбце и в каждом малом квадрате 3×3 каждая цифра встречалась бы только один раз.
</p>
<h4>Интересные факты о судоку:</h4>
<p>1. Судоку изначально не японская игра, а американская игра.<br>
    Современный судоку был изобретен в Америке под названием «Number Place» (1979) и
    позже популяризирован японским издателем Nikoli как «Sudoku».<br>
    Говард Гарнс, изобретатель «Number Place», умер в 1989 году,
    прежде чем игра приобрела мировую популярность.<br>
    2. Первый чемпионат мира по судоку состоялся в Италии в 2006 году.<br>
    Затем в 2007 году в Праге, Чешская Республика и совсем недавно в 2008 году в Гоа, Индия.<br>
    В 2009 году он состоится в Словакии.<br>
    3. Некоторые люди называют это газетными заставками,
    потому что это увеличивает продажи и поддерживает читателей активными.<br>
    Газеты всего мира сразу приняли это, потому что людям нравится решать судоку каждый день,
    как кроссворды.
</p>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
    class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
    aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
    aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/sudoku1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/sudoku2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/sudoku3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
         crossorigin="anonymous"></script>
<br>
<a href="/" class="btn btn-primary">Вернуться назад</a>
<p>     </p>
{% endblock %}