{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css" >
<h1>Основное меню</h1>
<div>
    <a href="/play/level1" class="btn btn-primary">Начать играть!</a>
    <a href="/about_game" class="btn btn-info">Об игре</a>
    <a href="/" class="btn btn-primary">Наш бот в телеграме</a>
</div>
<br>
<div>
    <a href="/comments" class="btn btn-primary">Комментарии</a>
</div>
<br>
<div>
    <img src="./static/img/main_image.jpg" width="410" height="410">
</div>
{% endblock %}